
.water {
	/*
	background-color:#264894;
	background-image:linear-gradient(to bottom, #3769D8, #030E26);
	*/
}

.water .container {
	background-color: transparent;
}
.water .panel {
	/*background-color: rgba(100,20,20, 0.8);*/
}

body {
	background-color:rgb(100,100,100);
	font-family: Tahoma;
}
a:link {
	color: #DA6DD4; 
}
a:visited {
	color: #7696CE;
}
a:hover {
	color: white;
}
.onlyOne {
	column-count:1;
	-webkit-column-count:1;
	-moz-column-count:1;
}

.onlyTwo {
	column-count:2;
	-webkit-column-count:2;
	-moz-column-count:2;
}

.autoResize {
	column-count:3;
	-webkit-column-count:3;
	-moz-column-count:3;
}

.container {
	column-gap:10px;
	-moz-column-gap:10px;
	-webkit-column-gap:10px;
	
	width: 1000px;
	display: block;
	margin: 10px auto;
	padding: 20px;
	background-color:rgb(130,130,130);
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	text-align: center;
	border-radius: 5px;
}
.panel {
	width: 300px;
	height: auto;
	background-color: rgb(100,20,20);
	padding: 10px;
	box-shadow: 0 0 10px rgba(00,00,00,150);
	overflow: hidden;
	color: #C97581;
	display: inline-block;
	text-align: left;
	border-radius: 5px;
	margin: 5px 0;
}


.header {
	display: block;
	height: auto;
	margin: 10px auto;
	max-width: 300px;
	width: auto;
}
.imageContainer {
	height: 40%;
	overflow: hidden;
	display: block;
	margin:-0 auto;
	border:2px solid rgba(200,200,200,0.1);
	text-align: center;
	padding-top: 4px;
}
.prevImage {
	max-width: 98%;
	display:inline-block;
}

.big {
	height: 100%; 
	vertical-align: top;
}
.big .about {
	display: inline-block;
	width: 300px;
	vertical-align: top;
}

.big .imageContainer {
	display: inline-block;	
	height: 100%;
}
.label {
	float: left;
	font-weight: bold;
}
.text {
	display: block;
}
.line {
	border:2px solid rgba(200,200,200,0.1);
	margin: 2px;
}

.game {
	z-index: -1;
	position: absolute;
}
.game *{
	position: fixed;
	left: 0;
	top: 0;
}
.content {
	z-index: 2;
}


.admin-box {
	display:block;
	margin: auto;
	padding:4px;
	width: 90%;
	min-height:14pt;
	background:white;
	color:black;
}
.pre-image {
	object-fit: cover;
	object-position: center;
	width:100px;
	height:100px;
	margin:4px;
}

@media only screen and (min-width: 320px) {
.container {
	width: 320px;
	}

.autoResize {	
	column-count:1;
	-webkit-column-count:1;
	-moz-column-count:1;
	}

.onlyTwo {
	column-count:1;
	-webkit-column-count:1;
	-moz-column-count:1;
	}
.water {
	background-color:#030E26;
	/*background-image:linear-gradient(to bottom, #3769D8, #030E26);*/
 }
}

@media only screen and (min-width: 400px) {
.container {
	column-gap:0px;
	-moz-column-gap:0px;
	-webkit-column-gap:0px;
	width: 320px;
	}
}

@media only screen and (min-width: 700px) {
.container {
	width: 660px;
	}
.autoResize {
	column-count:2;
	-webkit-column-count:2;
	-moz-column-count:2;
	}

.onlyTwo {
	column-count:2;
	-webkit-column-count:2;
	-moz-column-count:2;
	}
.water {
	background-image:linear-gradient(to bottom, #3769D8, #030E26);
	}
}

@media only screen and (min-width: 1000px) {
.container {
	width: 1000px;
	}

.autoResize {
	column-count:3;
	-webkit-column-count:3;
	-moz-column-count:3;
	}
}